:root{
    /* Colours */
    --color-text: #fff;
    --color-primary: #a680dc;
    --color-secondary: #802d84;
    --color-dark: #9d187b;
    --color-bg: #4f075f;

    /* Fonts */
    --font-rooto: "Roboto";

}